snippet exp
	File.expand_path("../${1}", __FILE__)
snippet reqf
	require File.expand_path("../${1}", __FILE__)
snippet ar_base
	ActiveRecord::Base
snippet ar_con
	ActiveRecord::Base.establish_connection(${1})
